*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
  background-color: rgb(23, 31, 38);
} 
.box{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 10px auto;
  background-color: yellow;
  color: black;
  padding: 10px;
  font-family: sans-serif;
font-weight: 700;
  
}
.App{
 margin-top: 250px;
}
input{
  background-color: rgb(163, 171, 178);
  outline: none;
  border: none;
  width: 300px;
  height: 30px;
  border-radius: 3px;
}
button{
  background: rgb(233, 235, 236);
  width: 50px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 0px 10px;
  font-family: sans-serif;
}
h1{
  color: rgb(233, 235, 236);
  margin: 20px 0px;
}